@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    background-color: #bebebe;
    font-family: 'Giga', sans-serif;
  }
}
